body {
    margin: 0;
}

#game {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* width: 500px; */
    /* height: 700px; */
    margin: auto;

    background: url("/img/IMG_7189.PNG");
    background-size: cover;
    background-position: center;
}

.fullscreen {
    height: 100%;
    width: 100%;

    overflow: hidden;

    pointer-events: none;
}

.fullscreen * {
    pointer-events: auto;
}

.center-children {
    position: absolute;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-layout {
    position: absolute;
    display: flex;
    padding: 2%;
    gap: 2%; /* horizontal space between boxes */
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#plate {
    position: absolute;
    width: 50%;
    aspect-ratio: 1;
}

#spinner {
    position: absolute;
    width: 15%;
}

.card {
    flex: 1 1 0;
    aspect-ratio: 1/1.414;
    background-color: #4a90e2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 1s, scale 1s, rotate 1s;
    transform: 0px rotateX(90deg);
}

.bob {
    transform: translateY(-7px) translateX(0) rotate(0);
    transform-origin: 50% 50%;
    animation: bobAndRotate 5s infinite linear;
}
.bob:nth-child(1) {
    animation-delay: -4s;
}
.bob:nth-child(2) {
    animation-delay: -2s;
}
.bob:nth-child(3) {
    animation-delay: -6s;
}
.bob:nth-child(4) {
    animation-delay: -4s;
}
.bob:nth-child(5) {
    animation-delay: -9s;
}

.card img {
    filter: blur(1.5rem);
}

@keyframes bobAndRotate {
  0% {
    transform: translateY(-7px) translateX(0) rotate(0);
  }
  25% {
    transform: translateY(0) translateX(7px) rotate(2deg);
  }
  50% {
    transform: translateY(7px) translateX(0) rotate(0deg);
  }
  75% {
    transform: translateY(0) translateX(-7px) rotate(-3deg);
  }
  100% {
    transform: translateY(-7px) translateX(0) rotate(0);
  }
}

.disabled {
    transform: translateY(400%) rotateX(-90deg);
    pointer-events: none;
}

.card:hover {
    scale: 250%;
    z-index: 1000;
}

#card-container .card:first-child:hover {
    transform: translateX(30%);
}

#card-container .card:last-child:hover {
    transform: translateX(-30%);
}

.card img {
    width: 100%;
}

* {
    box-sizing: border-box;
}