body {
    margin: 0;
}

#game {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* width: 500px; */
    /* height: 700px; */
    margin: auto;

    background: url("/img/IMG_7189.PNG");
    background-size: cover;
    background-position: center;
}

.fullscreen {
    height: 100%;
    width: 100%;

    overflow: hidden;

    pointer-events: none;
}

.fullscreen * {
    pointer-events: auto;
}

.center-children {
    position: absolute;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-layout {
    position: absolute;
    display: flex;
    padding: 2%;
    gap: 2%; /* horizontal space between boxes */
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#plate {
    position: absolute;
    width: 50%;
    aspect-ratio: 1;
}

#spinner {
    position: absolute;
    width: 15%;
}

.card {
    flex: 1 1 0;
    aspect-ratio: 1/1.414;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: translate 1s, scale 1s;
}

.disabled {
    pointer-events: none;
    transform: translateY(400%);
}

.card:hover {
    scale: 250%;
    z-index: 1000;
}

#card-container .card:first-child:hover {
    transform-origin: left;
    /*transform: translateX(30%) !important;*/
}

#card-container .card:last-child:hover {
    transform-origin: right;
    /*transform: translateX(-30%) !important;*/
}

.card img {
    width: 100%;
}

* {
    box-sizing: border-box;
}